@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
*{
    padding: 0;
    margin:0;
    outline:none;
    font-family: 'Orelega One',cursive,sans-serif;
    font-weight: 500;
    font-size: 22px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:violet;
}
input{
    margin: 2px ;
    border: none;
    border-radius: 3px;
}
input[type=text]{
    width: calc(100% - 4px);
    height:40px;
}
input[type=button]{
    width: 100px;
    height: 50px;
    background: whitesmoke;
    transition: ease 0.2;
    cursor: pointer;
}
div#calculadora{
    box-shadow: 0 0 20px black;
}
div#calculadora div{
    display:flex;
}
div#calculadora div input:nth-child(4){
    background:#69024a;
    color: whitesmoke;
} 
div#quarta input:nth-child(1),div#calculadora{
    border-bottom-left-radius: 35px ;
}
div#quarta input:nth-child(1){
   background:#f1e42b;
}
div#quarta input:nth-child(3){
    background:#9c35f0;
 }

 div#quarta input:nth-child(4),div#calculadora{
    border-bottom-right-radius: 35px ;
 }
 input[type=button]:hover{
    filter: brightness(50%);
 }
 input[type=button]:active{
    transform: scale(0.9);
 }